.juegoReaccion {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.cuadro {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  cursor: pointer;
    border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.resultados {
  margin-top: 20px;
  font-size: 18px;
}
